<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quwan.tt.router.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.quwan.tt.router.demo.app.DemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/host_ic_launcher"
        android:label="@string/host_app_name"
        android:roundIcon="@mipmap/host_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/host_AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.quwan.tt.router.demo.app.UriProxyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="demo_host"
                    android:scheme="demo_scheme" />
            </intent-filter>
        </activity>

        <activity android:name="com.quwan.tt.router.demo.basic.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.quwan.tt.router.demo.basic.TestBasicActivity" />
        <activity android:name="com.quwan.tt.router.demo.basic.TestUriRequestActivity" />
        <activity android:name="com.quwan.tt.router.demo.basic.ExportedActivity" />
        <activity android:name="com.quwan.tt.router.demo.basic.NotExportedActivity" />
        <activity android:name="com.quwan.tt.router.demo.advanced.AdvancedDemoActivity" />
        <activity android:name="com.quwan.tt.router.demo.advanced.location.NearbyShopActivity" />
        <activity android:name="com.quwan.tt.router.demo.advanced.webview.WebViewActivity" />
        <activity android:name="com.quwan.tt.router.demo.advanced.abtest.HomeActivityA" />
        <activity android:name="com.quwan.tt.router.demo.advanced.abtest.HomeActivityB" />
        <activity android:name="com.quwan.tt.router.demo.fragment.FragmentDemoActivity" />
        <activity android:name="com.quwan.tt.router.demo.fragment2fragment.FragmentToFragmentDemoActivity"/>

<!--        <activity-->
<!--            android:name="io.flutter.embedding.android.FlutterActivity"-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize"-->
<!--            />-->
    </application>

</manifest>
