<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.quwan.tt.router.demo.lib2">
    <application>
        <activity android:name="com.quwan.tt.router.demo.lib2.basic.DemoLibActivity2"/>
        <activity android:name="com.quwan.tt.router.demo.lib2.advanced.ServiceLoaderActivity"/>
        <service
            android:name="com.quwan.tt.router.demo.lib2.service.IpcService"
            android:process=":ipcTest">
        </service>
    </application>
</manifest>
